
.student {
  margin: 10px 5px;
  background-color: lightgray;
  border: solid 2px black;
}

.name {
  font-style: italic;
  font-size: 1.5rem;
  color: blue;
}

.score{
  color: red;
}

.title {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.date {
  font-style: italic;
  color: gray;
}