
body {
  background-color: cornflowerblue;
}


.student {
  padding: 15px;
  background-color: lightgray;
  border: solid 2px black;
  width: 50vw;
  margin: 25px auto;
  border-radius: 20px;
}

.name {
  font-style: italic;
  font-size: 1.5rem;
  color: rgb(3, 99, 209);
}

.score{
  color: rgb(255, 0, 0);
  background-color: rgb(240, 240, 240);
  height: 55px;
}

.title {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.date {
  font-style: italic;
  color: gray;
}